body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("img/slika1.jpg");
  background-color: #cccccc;
  background-size: cover;
}
.code {
  height: 30px;
  width: 100%;
  background-color: orangered;
  color: white;
  display: flex;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.firstorder {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.topbar {
  height: 55px;
  width: 100%;
  background-color: black;
  margin: 0px;
  border: 0px;
  position: absolute;
  /* margin-top: -8px;
          margin-left: -8px; */
  display: flex;
  gap: 10px;
  flex: 1 2;
}

.item1 {
  margin-left: 15px;
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
  color: whitesmoke;
  border-right: whitesmoke solid 2px;
  display: flex;
  flex-basis: 160px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* font-weight: bold; */
}

.item4 {
  flex-basis: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search {
  width: 450px;
  height: 25px;
  position: relative;
  padding: 5px;
  border: black 0px;
}

.searchBtn {
  margin-left: 0px;
  width: 35px;
  height: 35px;
  border-radius: 20%;
}

.cl {
  color: white;
  background-color: black;
  border: black;
  width: 150px;
  height: 55px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.fontNav {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.tablediv {
  height: 400px;
  width: 1200px;
  /* background-color: red; */
  margin-top: 150px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ha {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
  color: white;
}
